@using Microsoft.AspNetCore.Http;
@*@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor*@
<!DOCTYPE html>
<html lang="en">
<head>
    @using Microsoft.AspNetCore.Http.Extensions
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GOCompanies</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.css" />
    <!-- js only -->
    <link rel="stylesheet" href="~/js/bootstrap/bootstrap.js" />
</head>
<body>
@*    var <var> x </var>= window.location.href  *@  
    
    
    <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">GOCompanies</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Company">Companies</a>
                </li>
                <li class="nav-item">
                    @if(@Context.Session.GetString("Session1") == null)
                        {
                            <a class="nav-link" asp-controller="Vehicle">Vehicles</a>
                        }
                        else
                        {
                            <a class="nav-link" asp-controller="Vehicle" asp-action="List" asp-route-companyId=@Context.Session.GetInt32("Session2")>Vehicles</a>
                        }

                </li>
                <li class="nav-item">
                    
                    @if(@Context.Session.GetString("Session1") == null)
                        {
                            <a class="nav-link" asp-controller="Driver">Drivers</a>
                        }
                        else
                        {
                            <a class="nav-link" asp-controller="Driver" asp-action="List" asp-route-companyId=@Context.Session.GetInt32("Session2")>Drivers</a>
                        }
                        
                </li>
            </ul>
                        

                       @* <form>
            
            <select name="companyId" data-id="myDropDown">
            
                @foreach (var item in GOCompanies.Controllers.BaseController._Companies)
                            {
                                var message = @Context.Request.GetEncodedUrl();                             
                                if (message.Contains("https://localhost:44333/Driver") )
                                {
                                    <option value="none" selected disabled hidden>Select Company</option>
                                    <option><a asp-controller="Driver" asp-action="List" asp-route-companyId="@item.Value" class="nav-link">@item.Text</a></option>

                                }                               
                                else if(message.Contains("https://localhost:44333/Vehicle") )
                                {
                                    <option><li><a asp-controller="Vehicle" asp-action="List" asp-route-companyId="@item.Value" class="nav-link">@item.Text</a></li></option>
                                }
                                else
                                {
                                    <option><li><a class="nav-link">@item.Text</a></li></option>
                                }  
                            }
            </select>*@
            @*@foreach (var item in GOCompanies.Controllers.BaseController._Companies)
            {
            <div id="nav">
            <div><a asp-controller="Driver" asp-action="List" asp-route-companyId="@item.Value" class="nav-link" data-id="myDropDown">@item.Text</a></div>
            </div>
            }*@
@*          <br><br>
            <button type="submit" href ="/Driver/List">Submit</button>
            </form> *@ 

            <ul id="navbar" class="nav navbar-nav  navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="choose">@Context.Session.GetString("Session1")
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu" >                          
                       @foreach (var item in GOCompanies.Controllers.BaseController._Companies)
                            {                              
                                var message = @Context.Request.GetEncodedUrl();                             
                                if (message.Contains("https://localhost:44333/Driver") )
                                {                                   
                                    <li><a asp-controller="Driver" asp-action="List" asp-route-companyId="@item.Value" class="nav-link" >@item.Text</a></li>
                                }                               
                                else if(message.Contains("https://localhost:44333/Vehicle") )
                                {
                                    <li><a asp-controller="Vehicle" asp-action="List" asp-route-companyId="@item.Value" class="nav-link">@item.Text</a></li>
                                }                               
                                else
                                {
                                    <li><a class="nav-link">@item.Text</a></li>
                                }                               
                            }                     
                    </ul>
                </li>
            </ul> 
       </div>
   </nav>
   </header>
   <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
   </div>

   <script src="~/lib/jquery/dist/jquery.min.js"></script>
   <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@*   <script runat="server">
       function Func_a() {
   $('ul.dropdown-menu li').click(function(e){
      var x_ip = $(this).find("span.caret").text();     
      document.getElementById("choose").innerHTML = x_ip;
      var x = document.getElementById("choose").innerHTML;
       

   });

       }
   </script>*@


   @RenderSection("Scripts", required: false)
</body>
</html>
